doctype html
html(lang='en').has-navbar-fixed-top#mainNavBar
    head
        -let myTitle = "Hello Title!";
        title= myTitle
        title #{myTitle}
        link(rel="stylesheet" href="google.com")

    body
        div.section#main
        tag.class#id

    footer
        div.section#footer

    block#123.testClass
